{% extends 'base.html.twig' %}

{% block title %}New Student{% endblock %}

{% block body %}
    <h1>Create new Student</h1>

    {{ include('student/_form.html.twig') }}
    <div>&nbsp;</div>
    <a href="{{ path('student_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
