{{ form_start(form) }}
<div>
<label for="borrowed_book">
    {{ form_label(form.book) }} 
    </label>
    {{ form_widget(form.book, {'attr':{'class':'form-select'}}) }}
</div>
<div>
<label for="borrowed_student">
    {{ form_label(form.student) }}
    </label>
 {{ form_widget(form.student, {'attr':{'class':'form-select'}}) }}
</div>

<label for="dateBorrowed">Date borrowed:
</label>
<div class="row" id="dateBorrowed">
    <div class="col-2">
        {{ form_widget(form.dateBorrowed.month, {'attr':{'class':'form-select'}}) }}
    </div>
    <div class="col-2">
        {{ form_widget(form.dateBorrowed.day, {'attr':{'class':'form-select'}}) }}
    </div>
    <div class="col-2">
        {{ form_widget(form.dateBorrowed.year, {'attr':{'class':'form-select'}}) }}
    </div>
<div>

<label for="borrowing_bookReturned">
    {{ form_label(form.bookReturned) }} 
</label>
    <div class="form-check">
        {{ form_widget(form.bookReturned, {'attr':{'class':'form-check-input'}}) }}
    </div>
</div>
</div>
<div>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
</div>
{{ form_end(form) }}
