{% extends 'base.html.twig' %}

{% block title %}Borrowing index{% endblock %}

{% block body %}
    <h1>Borrowing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DateBorrowed</th>
                <th>Title</th>
                <th>Student</th>
                <th>BookReturned</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrowing in borrowings %}
            <tr>
                <td>{{ borrowing.dateBorrowed ? borrowing.dateBorrowed|date('Y-m-d') : '' }}</td>
                <td>{{ borrowing.book.title }}</td>
                <td>{{ borrowing.student.name ~ ' ' ~ borrowing.student.surname }}</td>
                <td>{{ borrowing.bookReturned ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('borrowing_show', {'id': borrowing.id}) }}">show</a>
                    <a href="{{ path('borrowing_edit', {'id': borrowing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('borrowing_new') }}">Create new</a>
{% endblock %}
