{% extends 'base.html.twig' %}

{% block title %}New Borrowing{% endblock %}

{% block body %}
    <h1>Create new Borrowing</h1>

    {{ include('borrowing/_form.html.twig') }}
<div>&nbsp;</div>

    <a href="{{ path('borrowing_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
