<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Librarian</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if 'borrowing' in app.request.get('_route') %} active {% endif %}" aria-current="page" href="{{ path('borrowing_index') }}">Borrowing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'book' in app.request.get('_route') %} active {% endif %}" href="{{ path('book_index') }}">Books</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if 'student' in app.request.get('_route') %} active {% endif %}" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Students
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ path('student_index') }}">List</a></li>
            <li><a class="dropdown-item" href="{{ path('student_new') }}">New</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if 'author' in app.request.get('_route') %} active {% endif %}" href="{{ path('author_index') }}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
