{% extends 'base.html.twig' %}

{% block title %}New Book And Authors {% endblock %}

{% block body %}

<div class="example-wrapper">
{{ form_start(form)}}
    <div class="mb-3">
        <label for="book_title" class="form-label">
            {{ form_label(form.title)}}
        </label> 
        {{ form_widget(form.title, {'attr':{'class':'form-control'}})}}
    </div>
    <h4>Authors</h4>
    <div id="book_authors" data-prototype="{{ form_widget(form.authors.vars.prototype)|e('html_attr') }}" data-entry-index="{{ form.authors|length > 0 ? form.authors|last.vars.name + 1 : 0 }}">
    {% for author in form.authors %}
        <div id="book_author">
                <div class="mb-3">
                    <label for="author_name" class="form-label">
                        {{ form_label(author.name)}}
                    </label> 
                    {{ form_widget(author.name, {'attr':{'class':'form-control'}})}}
                    
                </div>
                <div class="mb-3">
                    <label for="author_surname" class="form-label">
                        {{ form_label(author.surname)}}
                    </label> 
                    {{ form_widget(author.surname, {'attr':{'class':'form-control'}})}}
                </div>
        </div>
    {% endfor %}
    </div>
   <button type="submit" class="btn btn-primary">Save</button>
{{ form_end(form)}}
</div>
{% block javascripts %}
  {{ parent() }}
   {{ encore_entry_script_tags('a2lix') }}
{% endblock %}
{% endblock %}
